DEBUG=0
SECRET_KEY=replace-with-a-long-random-secret-key
DJANGO_ALLOWED_HOSTS=your-domain.com www.your-domain.com 127.0.0.1
CSRF_TRUSTED_ORIGINS=https://your-domain.com https://www.your-domain.com
TIME_ZONE=Asia/Tashkent

POSTGRES_DB=drf_db
POSTGRES_USER=drf_user
POSTGRES_PASSWORD=change-this-postgres-password
DATABASE_HOST=db
DATABASE_PORT=5432

# HTTPS ni reverse proxy orqali ishlatsangiz 1 qiling.
SECURE_SSL_REDIRECT=0
SESSION_COOKIE_SECURE=0
CSRF_COOKIE_SECURE=0
